# SPDX-FileCopyrightText: 2019-present Open Networking Foundation <info@opennetworking.org>
#
# SPDX-License-Identifier: Apache-2.0

./prom-label-proxy
vendor
build/_output
.idea
.envrc

coverage.xml
go-coverage-output.out
go-test-output.out
report.xml
build/build-tools
